.box {
    min-height:200px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.set-players {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}